:root{
    --verde: #00A149;
    --blanco: #fff;
    --rojo: #881014;
    --oscuro: #000;
    --titulos:'Arima Madurai', cursive;
    --parrafos:'Mulish', sans-serif;
}
html{
    box-sizing: border-box;
}
*,*::after, *::before{
    box-sizing: inherit;
}
img{
    max-width: 100%;
}
body{
    background-color: beige;
}

/* ESTO ES DEL MODAL DE CERRADO ABIERTO */
#horarioAtencion{
    margin-top: 1rem;
}
#tipoServicio{
    margin-top: 1rem;
    font-size: 12px;
}
/* CIERRA MODAL CERRADO ABIERTO */

/*ESTO ES DEL INICIO*/
.contenedor-inicio{
    padding-top: 6rem;
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
@media(min-width:768px){
    .contenedor-inicio{
        display: flex;
        justify-content: space-between;
    }
}
.texto-nosotros, .imagenes-nosotros{
    flex: 0 0 calc(50% - 1rem);
}
.texto-nosotros .bienvenido{
    font-size: 30px;
    color: var(--verde);
    text-align: center;
}
@media(min-width:768px){
    .texto-nosotros .bienvenido{
        text-align: left;
    }
}
.texto-nosotros h1{
font-size: 4rem;
text-align: center;
}
@media(min-width:768px){
    .texto-nosotros h1{
        text-align: left;
    }

}
.texto-nosotros p{
font-size: 1rem;
text-align: center;
}
@media(min-width:768px){
    .texto-nosotros p{
        text-align: left;
    }

}
.imagenes-nosotros{
    display: flex;
    justify-content: space-between;
}
.imagenes-nosotros img{
    border-radius: 5px;
}
.imagen1, .imagenes2{
    flex: 0 0 calc(50% - 1rem);
}
.imagenes2 img{
    margin-bottom: 1rem;
}
/*CIERRA EL INICIO*/

/* ESTO ES MENÚ */
.menu{
    padding-top: 2rem;
    background-color: white;
    border-radius: 1rem;
}
.texto-platillos{
    text-align: center;
    font-size: 4rem;
}
.botones-platillos{
    margin-bottom: 1rem;
    font-family: var(--parrafos);
}
@media(min-width:768px){
    .platillos{
        display: flex;
        justify-content:space-between;
        flex-wrap:  wrap;
    }
}
.platillo{
    flex: 0 0 calc((25% - 1.5rem));
    border: 1px solid #e1e1e1;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.platillo h2{
    text-align: center;
}
.platillo p{
    font-size: 1rem;
}
.precio{
    display: flex;
}
.precio p{
    font-weight: bold;
    font-size: 1.5rem;
}
/* CIERRA MENÚ */

/* IMAGENES */
.heading {
    text-align: center;
    padding: 2.5rem 0;
  }
  
  .heading span {
    font-size: 3.5rem;
    background: rgba(255, 165, 0, 0.2);
    color: var(--orange);
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
  }
  
  .heading span.space {
    background: none;
  }
  .carousel__contenedor{
      position: relative;
  }
  .carousel__anterior, .carousel__siguiente{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: white;
    opacity: 50%;
  }
   .carousel__anterior:hover, .carousel__siguiente:hover{
      opacity: 100%;
  }
  .carousel__anterior{
      left: -10px;
  }
  .carousel__siguiente{
    right: -5px;
    }
    .carousel__lista{
        overflow: hidden;
    }
    .carousel_elemento{
        margin: 1rem;
    }
/* IMAGENES FIN */


/* Footer */
.info i{
    font-size: 1.5rem;
    color: var(--blanco);
}
.pie-pagina{
    margin-top: 2rem;
    background-color: rgb(20, 20, 20);
    padding: 2rem
}
@media(min-width:768px){
    .contenedor-piepagina{
        display: flex;
        justify-content: space-between;
    }
}
.info{
    flex: 0 0 calc(25% -1rem);
    margin-bottom: 1.5rem;
}
.info h3, .info p{
    color: var(--blanco);
    text-align: center;
}
.info h3{
    font-size: 1.5rem;
}
.info p{
    font-size: 1rem;
}
.redes-sociales{
    text-align: center;
}
.footer{
    text-align: center;
    background-color: var(--oscuro);
    color: var(--blanco);
    padding: 1rem;
    font-size: 1rem;
}
/* END FOOTER */

